// src/assets/_variables.scss

:root {
  --dark-bg: #000;
  --light-bg: #f5f5f5;
  --dark-text: white; // Add a custom property for dark mode text color
}

body[data-theme='dark'] {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body[data-theme='light'] {
  background-color: var(--light-bg);
  color: black;
}

